#submit-button{
    margin: auto;
    margin-top: 10pt;
}

#playerSignUpForm{
    margin-top: 30px;
}


#submit-button{
    margin: auto;
    margin-top: 10pt;
}

.marginSelect{
    margin-top: 10px;
}