<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <h4 class="card-title">Tournaments</h4>
            </div>
            <div>
              <button (click)="newTournament()" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="right" title="Register Manager"><i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">

            <div class="col-6" style="padding: 3%;">
              <p>Registrations Opened</p>
              <app-tournament-element *ngFor="let tournement of registrationOpenTournaments" [tournement]="tournement" state="false" ></app-tournament-element>

                  <div class="container" *ngIf="!registrationOpenTournaments">
                    <div class="text-center">
                        <div class="spinner-border text-center" role="status" style="width: 5rem; height: 5rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                  </div>
            </div>

            <div class="col-6" style="padding: 3%;">
              <p>Registration Closed</p>
              <app-tournament-element *ngFor="let tournement of registrationClosedTournaments" [tournement]="tournement" state="true"></app-tournament-element>

                <div class="container" *ngIf="!registrationClosedTournaments">
                  <div class="text-center">
                      <div class="spinner-border text-center" role="status" style="width: 5rem; height: 5rem;">
                          <span class="sr-only">Loading...</span>
                      </div>
                  </div>
                </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
