<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <h4 class="card-title">Tournaments</h4>
            </div>
            <div>
              <button (click)="newTournament()" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="right" title="Register Manager"><i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
         
        </div>
      </div>
    </div>
   
  </div>
</div>
