<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Tournaments</h4>
          <a (click)="tournamentRegister()"><button type="button" class="btn btn-success btn-sm" title="Register Club">
              <i class="fas fa-plus"></i></button></a>
          
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Tournament List</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th></th>
                    <th>Tournament Id</th>
                    <th>Tournament Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="text-right">Option</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tournament of tournamentList; let i = index">
                      <td>{{ i + 1 }})</td>
                      <td>{{ tournament.tournamentId}}</td>
                      <td>{{ tournament.tournamentName }}</td>
                      <td>{{ tournament.startDate }}</td>
                      <td>{{ tournament.endDate }}</td>
                      <td class="text-right">
                        <a (click)="tournamentUpdate(tournament.tournamentId)"><button type="button" class="btn btn-info btn-sm"
                            title="Update">
                            <i class="fas fa-edit"></i></button></a>
                       
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>