<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-body">
          <div class="main-content">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header">
                    <h5 class="title">Register Tournament</h5>
                  </div>
                  <div class="card-body">
                    <form *ngIf="!done" [formGroup]="tournamentRegisterForm" >
                                            
                      <div class="row fromRow">

                        <div class="col-sm-6 col-lg-6">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Tournement Name</mat-label>
                              <input matInput type="text"  formControlName="tournamentName">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="row fromRow">

                        <div class="col-sm-6 col-lg-66">
                          <div class="form-group">
                            <p>
                              <mat-form-field class="example-full-width">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="std" formControlName="startDate">
                                <mat-datepicker-toggle matSuffix [for]="std"></mat-datepicker-toggle>
                                <mat-datepicker #std disabled="false"></mat-datepicker>
                              </mat-form-field>
                            </p>

                          </div>
                        </div>

                      </div>
                      <div class="row fromRow">

                        <div class="col-sm-6 col-lg-6">
                          <div class="form-group">
                            <p>
                              <mat-form-field class="example-full-width">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="end" formControlName="endDate">
                                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                                <mat-datepicker #end disabled="false"></mat-datepicker>
                              </mat-form-field>
                            </p>

                          </div>
                        </div>

                      </div>
                      <div class="row fromRow">

                        <div class="col-sm-6 col-lg-6">
                          <div class="form-group">
                            <p>
                              <mat-form-field class="example-full-width">
                                <mat-label>Registration closing Date</mat-label>
                                <input matInput [matDatepicker]="redgend" formControlName="regEndDate">
                                <mat-datepicker-toggle matSuffix [for]="redgend"></mat-datepicker-toggle>
                                <mat-datepicker #redgend disabled="false"></mat-datepicker>
                              </mat-form-field>
                            </p>

                          </div>
                        </div>
                      </div>
                      
                      <button mat-raised-button (click)="reset()">Reset</button>
                      <button mat-raised-button (click)="openDialog()" [disabled]="!tournamentRegisterForm.valid">Create</button>
                      
                    </form>
                  </div>


                  <div *ngIf="done" >
                      <p style="margin-top: 20px; margin-left: 100px; color: green;" >Creation successfull!!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
