<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Players</h4>
        </div>
        <div class="card-body">

          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Active Players</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-secondary">
                    <th></th>
                    <th>Name</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th class="text-right">Option</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let player of playerList; let i = index">
                      <td>{{ i + 1 }})</td>
                      <td>{{ player.userId.nameWithInitial }}</td>
                      <td>{{ player.userId.contactNumber }}</td>
                      <td>{{ player.userId.email }}</td>

                      <td *ngIf="player.specialType==1">Batman : {{player.batmanTypeId.type}}</td>
                      <td *ngIf="player.specialType==2">Baller : {{player.ballerTypeId.type}}</td>
                      <td *ngIf="player.specialType==3">AllRounder</td>

                      <td class="text-right">
                        <a (click)="playerUpdate(player.playerId)"><button type="button" class="btn btn-info btn-sm"
                            title="Update">
                            <i class="fas fa-edit"></i></button></a>
                        <a (click)="deactivateAccount(player.userId.userId,player.userId.nameWithInitial)"><button
                            type="button" class="btn btn-danger btn-sm" title="Deactivate Account">
                            <i class="fas fa-times"></i></button></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Player Request/Not Activated Players</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-secondary">
                    <th></th>
                    <th>Name</th>
                    <th>NIC</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th class="text-right">Option</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let player of playerRequestList; let i = index">
                      <td>{{ i + 1 }})</td>
                      <td>{{ player.userId.nameWithInitial }}</td>
                      <td>{{player.userId.nic}}</td>
                      <td>{{ player.userId.contactNumber }}</td>
                      <td>{{ player.userId.email }}</td>

                      <td *ngIf="player.specialType==1">Batman : {{player.batmanTypeId.type}}</td>
                      <td *ngIf="player.specialType==2">Baller : {{player.ballerTypeId.type}}</td>
                      <td *ngIf="player.specialType==3">AllRounder</td>

                      <td class="text-right">
                        <a (click)="playerRegister(player.playerId)"><button type="button" class="btn btn-info btn-sm"
                            title="Check">
                            <i class="fas fa-eye"></i></button></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>