<table class="table">
  <tr>
    <th>Pos</th>
    <th colspan="2">Player</th>
    
    <th colspan="2">Club</th>
  
    <th>points</th>
  </tr>
  <tr *ngFor="let playerReord of players ; index as i" >
    <td>
      <b>{{i+1}}</b>
    </td>

    <td>
      {{playerReord.playerId.userId.nameWithInitial}}
    </td>
    <td>
      <img [src]="playerReord.playerId.userId.profileImage" alt="" width="100px" height="auto">
    </td>                                                                                                                                                                                                                                                                                                                  
    
    <td>
      {{playerReord.playerId.clubId.clubName}}
    </td>

    <td>
      <img [src]="playerReord.playerId.clubId.clubLogo" alt="" width="50px" height="auto">
    </td>
    
    <td>
      {{playerReord.points}}
    </td>
    
   </tr>
</table>