<div *ngIf="player" class="row">
  <div class="col-5">
    <div class="row" style="padding: 5%;">
      <img [src]="player.userId.profileImage" alt="" height="300px" width="auto">
    </div>
    <div class="row">
      <table class="table" style="font-size: large;">
        <tr>

          <td colspan="2" style="color: darkblue; text-align: center;">
            <b>
              {{player?.userId.nameWithInitial}}
            </b>
          </td>
        </tr>
        <tr>
          <th>
            Role
          </th>
          <td>
            Batting
          </td>
        </tr>

        <tr>
          <th>
            Batting Style
          </th>
          <td>
            {{player.batmanTypeId.type}}
          </td>
        </tr>

        <tr>
          <th>
            Bowling Style
          </th>
          <td>
            {{player.ballerTypeId.type}}
          </td>
        </tr>

        <br>
        <br>

        <tr>
          <td>{{player.clubId.clubName}}</td>
          <td>
            <img [src]="player.clubId.clubLogo" alt="" height="50px">
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-1">

  </div>
  <div class="col-4" style="font-size: larger;">


    <div class="row">

      <div class="col-12">

        <table class="table">
          <tr>
            <td colspan="2" style="color: blue;">
              <h4> Batting </h4>
            </td>
          </tr>
          <tr>
            <th>
              Total Mathces
            </th>
            <td>
              {{asBatman.matchCount}}
            </td>
          </tr>
          <tr>
            <th>
              Totol Runs
            </th>
            <td>{{asBatman.runs}}</td>
          </tr>
          <tr>
            <th>
              Total Faced Balls
            </th>
            <td>
              {{asBatman.facedBalls}}
            </td>
          </tr>

          <tr>
            <th>
              Half Centuries
            </th>
            <td>
              {{asBatman.halfCenturies}}
            </td>
          </tr>

          <tr>
            <th>
              Centuries
            </th>
            <td>
              {{asBatman.centuries}}
            </td>
          </tr>

          <tr>
            <th>
              Double Centuries
            </th>
            <td>
              {{asBatman.doubleCenturies}}
            </td>
          </tr>

          <tr>
            <th>
              Strike Rate
            </th>
            <td>
              {{asBatman.strikeRate}}
            </td>
          </tr>

          <tr>
            <th>
              Not Out Matches
            </th>
            <td>
              {{asBatman.notOut}}
            </td>
          </tr>

          <tr>
            <td colspan="2" style="color: blue;">
              <h4>
                Bowlling
              </h4>
            </td>
          </tr>

          <tr>
            <th>
              Total Matches
            </th>
            <td>
              {{asBallers.matchCount}}
            </td>
          </tr>
          <tr>
            <th>Overs</th>
            <td>
              {{asBallers.overs}}
            </td>
          </tr>

          <tr>
            <th>Wickets</th>
            <td>
              {{asBallers.wickets}}
            </td>
          </tr>

          <tr>
            <th>Runs Against</th>
            <td>
              {{asBallers.numberOfRunsAgainst}}
            </td>
          </tr>
          <tr *ngIf="asBallers.hatricks>0">
            <td>
              Hatricks
            </td>
            <th>
              {{asBallers.hatricks}}
            </th>
          </tr>
          <tr>
            <th>Points</th>
            <td>{{asBallers.points}}</td>
          </tr>

          <tr>
            <td colspan="2" style="color: blue;">
              <h4>
                Fielding
              </h4>
            </td>
          </tr>

          <tr>
            <th>
              Number of Catches
            </th>
            <td>
              {{asAllRounders.numberOfCatch}}
            </td>
          </tr>

          <tr>
            <th>
              Points
            </th>
            <td>
              {{asAllRounders.points}}
            </td>
          </tr>

        </table>
      </div>

    </div>

  </div>

  <div class="col-1">

  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Batting</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-secondary">
              <th></th>
              <th>Tournament</th>
              <th>Match</th>
              <th>Runs</th>
              <th>Balls</th>
            </thead>
            <tbody>
              <tr *ngFor="let data of playerMatchDataBatmen; let i = index">
                <td>{{ i + 1 }})</td>
                <td>{{ data.tournament }}</td>
                <td>{{data.match}}</td>
                <td>{{ data.result1 }}</td>
                <td>{{ data.result2 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Balling</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-secondary">
              <th></th>
              <th>Tournament</th>
              <th>Match</th>
              <th>Overs</th>
              <th>Wickets</th>
            </thead>
            <tbody>
              <tr *ngFor="let data of playerMatchDataBaller; let i = index">
                <td>{{ i + 1 }})</td>
                <td>{{ data.tournament }}</td>
                <td>{{data.match}}</td>
                <td>{{ data.result1 }}</td>
                <td>{{ data.result2 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Fielding</h4>
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div> -->