<div *ngIf="match" class="card col" style="width: 40rem;" >
  <div class="row" (click)="matchDetails()">
    
        <table class="table" style="margin-left: 4%; margin-top: 4%;">
          <tr >
            
            <td *ngIf="!club01">
              <div class="spinner-border text-center" role="status" style="width: 2rem; height: 2rem;">
                <span class="sr-only">Loading...</span>
              </div>
            </td>
            <td  *ngIf="club01">
              <b>
                {{club01?.clubName}}
              </b>
            </td>
            <td>
              VS
            </td>
            <td *ngIf="club02">
              <b>
                {{club02?.clubName}}
              </b>
            </td>
          </tr>
  
 
          <tr>
            
            <td *ngIf="match" colspan="3" style="text-align: center;">

              {{match.stadiumId.name}}
              <!-- {{manager.userId.}} -->
            </td>
          </tr>

         
        </table>
      
  </div>
  
</div>

  <div class="container" *ngIf="!match">
  <div class="text-center">
      <div class="spinner-border text-center" role="status" style="width: 5rem; height: 5rem;">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
</div>
