<div *ngIf="render===3" class="container-fluid">

  <div class="row" >
    <h3>One Day Rankings</h3>
  </div>
  <div  class="row" style="padding:2%; ">
  
    <div class="col-lg-3 col-md-6 col-sm-12 card" style="margin-left: 20px;">
    <div class="row" style="padding:2%; background-color: blue;">
      <h5 style="color: aliceblue;">
        Bowling
      </h5>
    </div>
    <div class="row" style="padding:2%">
      <app-player-ranking-element *ngIf="topBallers ; let players" [players]="players" ></app-player-ranking-element>
    </div>
    <div class="row">
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12 card" style="margin-left: 20px;">
    <div class="row" style="padding:2%; background-color: blue;">
      <h5 style="color: aliceblue;">
        Batting
      </h5>
    </div>
    <div class="row" style="padding:2%">
      <app-player-ranking-element *ngIf="topBatmen ; let players" [players]="players" ></app-player-ranking-element>
      <!-- <app-player-ranking-element *ngFor="let playerReord of topBallersOneday ; index as i" [i]="i" [playerReord]="playerReord" ></app-player-ranking-element> -->
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12 card" style="margin-left: 20px;">
    <div class="row" style="padding:2%; background-color: blue;">
      <h5 style="color: aliceblue;">
        All-Rounder
      </h5>
    </div>
    <div class="row" style="padding:2%">
      <app-player-ranking-element *ngIf="topAllRounders ; let players" [players]="players" ></app-player-ranking-element>
      <!-- <app-player-ranking-element *ngFor="let playerReord of topBallersOneday ; index as i" [i]="i" [playerReord]="playerReord" ></app-player-ranking-element> -->
    </div>
  </div>

</div>

</div>
<div class="container-fluid">
  
  <div *ngIf="render!=3"  style="padding-bottom: 700px">
    <div class="text-center">
      <div class="spinner-border text-center" role="status" style="width: 5rem; height: 5rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

</div>