<div class="row" style="padding:2%;">
  <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 5%;">
    <div class="row">
      Bowling
    </div>
    <div class="row">
      <app-player-ranking-element *ngIf="topBallersOneday ; let players" [players]="players" ></app-player-ranking-element>
    </div>
    <div class="row">
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 5%;">
    <div class="row">
      Bowling
    </div>
    <div class="row">
      <!-- <app-player-ranking-element *ngFor="let playerReord of topBallersOneday ; index as i" [i]="i" [playerReord]="playerReord" ></app-player-ranking-element> -->
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 5%;">
    <div class="row">
      Bowling
    </div>
    <div class="row">
      <!-- <app-player-ranking-element *ngFor="let playerReord of topBallersOneday ; index as i" [i]="i" [playerReord]="playerReord" ></app-player-ranking-element> -->
    </div>
  </div>





</div>
