<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-body">
          <div class="main-content">
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header">
                    <h5 class="title">Create Match</h5>
                  </div>
                  <div class="card-body">
                    <form class="form myForm" [formGroup]="createMatch">
                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-6">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Club 01</mat-label>
                              <mat-select formControlName="club01">
                                <mat-option *ngFor="let club of clubList" [value]="club.clubId">
                                  {{club.clubName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>



                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-6">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Club 02</mat-label>
                              <mat-select formControlName="club02">
                                <mat-option *ngFor="let club of clubList" [value]="club.clubId">
                                  {{club.clubName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <hr>

                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Stadium</mat-label>
                              <mat-select formControlName="stadium">
                                <mat-option *ngFor="let stadium of stadiums" [value]="stadium">
                                  {{stadium.name}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Match Type</mat-label>
                              <mat-select formControlName="matchType">
                                <mat-option *ngFor="let type of matchTypes" [value]="type">
                                  {{type.matchType}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>

                      </div>

                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Tournement round</mat-label>
                              <input matInput type="number" min="0" formControlName="tournementRound">
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Start Time</mat-label>
                              <input matInput type="time" formControlName="time">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>


                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-3">
                          <div class="form-group">
                            <p>
                              <mat-form-field class="example-full-width">
                                <mat-label>Start Date</mat-label>
                                <input matInput [matDatepicker]="std" formControlName="startDate">
                                <mat-datepicker-toggle matSuffix [for]="std"></mat-datepicker-toggle>
                                <mat-datepicker #std disabled="false"></mat-datepicker>
                              </mat-form-field>
                            </p>

                          </div>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                          <div class="form-group">
                            <p>
                              <mat-form-field class="example-full-width">
                                <mat-label>End Date</mat-label>
                                <input matInput [matDatepicker]="end" formControlName="endDate">
                                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                                <mat-datepicker #end disabled="false"></mat-datepicker>
                              </mat-form-field>
                            </p>

                          </div>
                        </div>


                      </div>

                      <hr>

                      Membmers in charge

                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-4">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Refree</mat-label>
                              <mat-select formControlName="refree">
                                <mat-option *ngFor="let ref of referees" [value]="ref">
                                  {{ref.userId.fullName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-4">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Umpire 01</mat-label>
                              <mat-select formControlName="umpire01">
                                <mat-option *ngFor="let umpire of umpireList" [value]="umpire.userId.userId">
                                  {{umpire.userId.fullName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>


                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-4">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Umpire 02</mat-label>
                              <mat-select formControlName="umpire02">
                                <mat-option *ngFor="let umpire of umpireList" [value]="umpire.userId.userId">
                                  {{umpire.userId.fullName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>


                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-4">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Umpire 03</mat-label>
                              <mat-select formControlName="umpire03">
                                <mat-option *ngFor="let umpire of umpireList" [value]="umpire.userId.userId">
                                  {{umpire.userId.fullName}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>



                      <hr>

                      <div class="row fromRow">
                        <div class="col-sm-6 col-lg-4">
                          <div class="form-group">
                            <mat-form-field class="example-full-width">
                              <mat-label>Sponser</mat-label>
                              <mat-select formControlName="sponser">
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                  {{food.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <button mat-raised-button (click)="reset()">Reset</button>
                      <button mat-raised-button (click)="create()">Create</button>

                    </form>
                  </div>



                  <!-- <div>
                    <p style="margin-top: 20px; margin-left: 100px; color: green;">Registration successfull!!</p>
                  </div> -->


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>