<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Matches</h4>
        </div>
        <div class="card-body">

          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Upcoming Matches</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-secondary">
                    <th></th>
                    <th>Tournament Name</th>
                    <th>Start Date</th>
                    <th>Finsish Date</th>
                    <th>Type</th>
                    <th>Option</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tournament of upcomingTournaments; let i = index">
                      <td>{{ i + 1 }})</td>
                      <td>{{ tournament.tournamentName }}</td>
                      <td>{{ tournament.startDate | date:'fullDate' }}</td>
                      <td>{{ tournament.endDate | date:'fullDate'}}</td>
                      <td>{{ tournament.registartionCloseDate | date:'fullDate'}}</td>

                      <td class="text-right">
                        <a><button type="button" (click)="register(tournament.tournamentId)" class="btn btn-info btn-sm"
                            title="Register">
                            <i class="fas fa-registered"></i></button></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Played Matches</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-secondary">
                    <th></th>
                    <th>Tournament Name</th>
                    <th>Started Date</th>
                    <th>Finished Date</th>
                    <th>Type</th>
                    <th>Win Team</th>
                    <th>Option</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let match of playedMatchList; let i = index">
                      <td>{{ i + 1 }})</td>
                      <td>{{ match.tournamentId.tournamentName }}</td>
                      <td>{{ match.startDate | date:'fullDate' }}</td>
                      <td>{{ match.finishDate | date:'fullDate' }}</td>
                      <td>{{ match.matchTypeId.matchType}}</td>
                      <td>{{winTeamNamesList[i]}}</td>
                      <td class="text-left">
                        <a><button (click)="matchMoreDetails(match.matchId)" type="button" class="btn btn-info btn-sm"
                            title="More Details">
                            <i class="fas fa-eye"></i></button></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>