<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">

          <div class="row" style="background-image: linear-gradient(to bottom, #f2f2f2 , #d6d6c2);">
            <div class="col-3" style="margin: 2%;">
              <div class="row"
                style=" background-image: linear-gradient(to right, #0066cc , #000066);padding-left: 20%; margin-bottom: 2%;">
                <h4 style="color: #ffffff;">Update Pending</h4>
              </div>
              <hr>
              <div class="row" *ngIf="oneDayPlayedMatches.length>0">
                <h5>One Day</h5>
                <div class="col">
                  <app-match-element *ngFor="let match of oneDayPlayedMatches" [match]="match" [played]="true">
                  </app-match-element>
                </div>
              </div>

              <hr>
              <div class="row" *ngIf="tTwentyPlayedMatches.length>0">
                <h5> T Twenty</h5>
                <div class="col">
                  <app-match-element *ngFor="let match of tTwentyPlayedMatches" [match]="match" [played]="true">
                  </app-match-element>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="threeFourDayPlayedMatches.length>0">
                <h5>3 4 Days</h5>
                <div class="col">
                  <app-match-element-trefordy *ngFor="let match of threeFourDayPlayedMatches" [match]="match"
                    [played]="true"></app-match-element-trefordy>
                </div>
              </div>

              <div class="row" *ngIf="!playedMatches" style="margin-left: 20%; margin-top: 20%; ">
                <p>No Matches Pendding</p>
              </div>
              
            </div>
            <div class="col-3" style="margin: 2%;">
              <div class="row"
                style=" background-image: linear-gradient(to right, #0066cc , #000066);padding-left: 20%; margin-bottom: 2%;">
                <h4 style="color: #ffffff;">Up Comming</h4>
              </div>
              <hr>
              <div class="row" *ngIf="oneDayUpcommingMatches.length>0">
                <h5>One Day</h5>
                <div class="col">
                  <app-match-element *ngFor="let match of oneDayUpcommingMatches" [match]="match" [played]="false">
                  </app-match-element>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="tTwentyPlayedUpdatedMatches.length>0">
                <h5>T Twenty</h5>
                <div class="col">
                  <app-match-element *ngFor="let match of tTwentyPlayedUpdatedMatches" [match]="match" [played]="false">
                  </app-match-element>
                </div>

              </div>
              <hr>
              <div class="row" *ngIf="threeFourDayMathcesPlayedUpdated.length>0">
                <h5>3 4 Days</h5>
                <div class="col">
                  <app-match-element-trefordy *ngFor="let match of threeFourDayMathcesPlayedUpdated" [match]="match"
                    [played]="false"></app-match-element-trefordy>
                </div>
              </div>
              <div class="row" *ngIf="!toPlayMatches" style="margin-left: 20%; margin-top: 20%; ">
                <p>No Matches Comming up</p>
              </div>
            </div>

            <div class="col-3" style="margin: 2%;">
              <div class="row"
                style=" background-image: linear-gradient(to right, #0066cc , #000066);padding-left: 20%; margin-bottom: 2%;">
                <h4 style="color: #ffffff;">Updated</h4>
              </div>
              <hr>
              <div class="row" *ngIf="oneDayPlayedUpdatedMatches.length>0">
                <h5>
                  One Day
                </h5>
                <div class="col">
                  <app-match-element *ngFor="let match of oneDayPlayedUpdatedMatches" [match]="match" [played]="true">
                  </app-match-element>
                </div>
              </div>

              <hr>
              <div class="row" *ngIf="tTwentyPlayedUpdatedMatches.length>0">
                <h5>
                  T Twenty
                </h5>
                <div class="col">
                  <app-match-element *ngFor="let match of tTwentyPlayedUpdatedMatches" [match]="match" [played]="true">
                  </app-match-element>
                </div>
              </div>

              <hr>
              <div class="row" *ngIf="threeFourDayMathcesPlayedUpdated.length>0">
                <h5>
                  3 4 Days
                </h5>
                <div class="col">
                  <app-match-element-trefordy *ngFor="let match of threeFourDayMathcesPlayedUpdated" [match]="match"
                    [played]="true"></app-match-element-trefordy>
                </div>
              </div>


              <div class="row" *ngIf="!updatedMatches" style="margin-left: 20%; margin-top: 20%; ">
                <p>No Matches Updated</p>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>