
<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
          <div class="col-3">
            <h4 class="card-title">Referees</h4>
          </div>
          <div>
            <button (click)="register()" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="right" title="Register Referee"><i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        </div>
        <div class="card-body">
          <app-referee-list *ngFor="let referee of referees" [referee]="referee" ></app-referee-list>
          <div class="container" *ngIf="!referees">
            <div class="text-center">
                <div class="spinner-border text-center" role="status" style="width: 5rem; height: 5rem;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
