<div class="row">
  <div class="col-4">
    <div class="row">
      <h3>One Day</h3>
    </div>
    <div class="row">
        <h4>Bowlling</h4>
        <app-player-ranking-element *ngFor="let playerReord of topBallersOneday ; index as i" [i]="i" [playerReord]="playerReord" ></app-player-ranking-element>
    </div>

    <div class="row">
      
    </div>

    <div class="row">
      
    </div>
  </div>

  <div class="col-4">
    <div class="row">

    </div>
    <div class="row">

    </div>
  </div>

  <div class="col-4">
    <div class="row">

    </div>
    <div class="row">

    </div>
  </div>
</div>