<div class="row" style="justify-content: center;margin-top: 200px;">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="oneDay()">One Day</button>
    <button type="button" class="btn btn-secondary" (click)="threeFourDays()">3 4 Days</button>
    <button type="button" class="btn btn-secondary" (click)="TTwenty()">T Twenty</button>
  </div>
</div>
<div class="row" style="justify-content: center;">
  <router-outlet></router-outlet>
</div>