.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .fromRow{
    margin-top: 20px;
  }

  .myForm{
    margin-left: 50px;
  }