<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"></h4>
        </div>
        <div class="card-body">
          <div class="main-content">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="card">
                  <div class="card-header">
                    <h5 class="title">Create Match</h5>
                  </div>
                  <div class="card-body">
                    <form>
                          <div class="row">
                              <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                  <label>Club 1</label>
                                  <select class="form-control" id="exampleFormControlSelect1">
                                    <option>122</option>
                                    <option>123</option>
                                  </select>
                                </div>
                              </div>

                             
                          </div>

                          
                          
                          <div class="row">
                            <div class="col-sm-6 col-lg-6">
                              <div class="form-group">
                                <label >Club 2</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>122</option>
                                  <option>123</option>
                                </select>
                              </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                              <label >Tournement Round</label>
                                <input type="number" min="0" value="" placeholder="Regular" class="form-control" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                              <label >Start Date</label>
                                <input type="number" min="0" value="" placeholder="Regular" class="form-control" />
                            </div>
                          </div>
                        
                          <div class="col-sm-6 col-lg-3">
                            <div class="form-group">
                              <label >End date</label>
                                <input type="number" min="0" value="" placeholder="Regular" class="form-control" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                              <label >Start time</label>
                                <input type="number" min="0" value="" placeholder="Regular" class="form-control" />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                              <label >Stadium</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>122</option>
                                <option>123</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                              <label >Refree</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>122</option>
                                <option>123</option>
                              </select>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                              <label >1st Umpire</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>122</option>
                                <option>123</option>
                              </select>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                              <label >2nd Umpire</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>122</option>
                                <option>123</option>
                              </select>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                              <label >3rd Umpire</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>122</option>
                                <option>123</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6 col-lg-4">
                            <div class="form-group">
                              <label >Sponsers</label>
                              <select class="form-control" id="exampleFormControlSelect1">
                                <option>122</option>
                                <option>123</option>
                              </select>`
                            </div>
                          </div>
                        </div>
                    </form>
                  </div>
                  
                  

                  <div>
                      <p style="margin-top: 20px; margin-left: 100px; color: green;" >Registration successfull!!</p> 
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
