<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <h4 class="card-title">Live Today</h4>
            </div>
        </div>
       </div>

       <div *ngIf="liveTodayMatches" class="row">
         <app-referee-live-match-element *ngFor="let match of liveTodayMatches" [match]="match" >
         </app-referee-live-match-element>

       </div>
       <div *ngIf="liveTodayMatches.length==0" class="row" style="padding: 20%;">
          <h4>There is no match to play today</h4>
       </div>
     </div>
    </div>
  </div>
</div>
          