<!-- 
<iframe width="1046" height="597" src="https://www.youtube.com/embed/zcAalMeaKso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<div class="row">
    <iframe width="1046" height="597" src="https://www.youtube.com/embed/ZCMkDzveNZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="row" *ngFor="let match of liveMatch" style="margin-top: 2%; margin-bottom: 400px; padding: 2%;">

    <div class="col-3" style="background-color: blue; color: aliceblue;  padding-top: 5%; padding-left: 2%;">
       
        <b>
            {{match.battingClub.clubName}}
        </b>

        <img src="
        " alt="">
    </div>
    <div class="col-6" style="padding: 3%;" >
        
            <p style="color: #333 ; font-size:large ;">
                {{match.score}} / {{match.numberOfWickets}} : &nbsp; &nbsp;<app-match-overs [numberofBalls]="match.numberofBalls" ></app-match-overs> 
            </p>
       
        <div class="row">

            <table class="table">
                <tr>
                    <th>
                        <label for="">{{match.striker}} <small> <b>OnStike</b> </small></label><br>
                        <label for="">{{match.nonStriker}}</label>

                    </th>
                    <th>
                        <label for="">{{match.bowler}}</label>
                    </th>
                </tr>
                <tr>
                    <td>
                        Run rate :  {{match.runrate}}
                    </td>
                    
                </tr>
            </table>


        </div>
        

    </div>
    <div class="col-3" style="background-color: blue; color: aliceblue; padding: 5%;">
        
        <b>
            {{match.fieldingClub.clubName}}
        </b>
    </div>

</div>