<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <a class="navbar-brand" href="#">CrickDom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link cursor" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item cursor">
          <a class="nav-link" (click)="live()">Live now</a>
        </li>
        <li class="nav-item">
          <a class="nav-link cursor" (click)="clubRank()">Club Ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="playerRankings()">Player Rankings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="tournamentHistory()">Tournament History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="matchCalender()">Match Calender</a>
        </li>


      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()">Login</button>
      </form>
    </div>
  </nav>
</header>

<div class="container-flud" style="padding-top: 5%; padding-left: 5%;">
  <router-outlet>
  </router-outlet>
</div>





<!-- <footer class="container" style="align-content: flex-end;">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer> -->

<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-2">
        <div class="footer-logo">

          <a class="navbar-brand" href="#">eStartup</a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>Abou Us</h4>

          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Features item</a></li>
            <li><a href="#">Live streaming</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>Abou Us</h4>

          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Features item</a></li>
            <li><a href="#">Live streaming</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>Support</h4>

          <ul class="list-unstyled">
            <li><a href="#">faq</a></li>
            <li><a href="#">Editor help</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>Abou Us</h4>

          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Features item</a></li>
            <li><a href="#">Live streaming</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

        </div>
      </div>

    </div>
  </div>

  <div class="copyrights">
    <div class="container">
      <p>&copy; Copyrights eStartup. All rights reserved.</p>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </div>

</footer>