  <div *ngIf="match" class="card col" style="width: 40rem; padding-left: 5px; margin-left: 5%;" >
    <div class="row">
      <div class="col-12">
        <div class="profile-body">
       
          <table style="margin-left: 4%; margin-top: 4%;">
            <tr>
              <td>
                <b>Club 1</b>
              </td>
              <td *ngIf="!club01">
                <div class="spinner-border text-center" role="status" style="width: 2rem; height: 2rem;">
                  <span class="sr-only">Loading...</span>
                </div>
              </td>
              <td *ngIf="club01">
                {{club01?.clubName}}
              </td>
            </tr>
    
            <tr>
              <td>
                <b>club02</b>
              </td>
              <td *ngIf="club02">
                {{club02?.clubName}}
              </td>
            </tr>
            <tr>
              <td>
                <b>tournament Round</b>
              </td>
              <td *ngIf="match">
                {{match.tournementRound}}
              </td>
            </tr>
    
    
            <tr>
              <td>
                <b>Stadium</b>
              </td>
              <td *ngIf="match">
                {{match.stadiumId.name}}
                <!-- {{manager.userId.}} -->
              </td>
            </tr>

            <!-- <tr>
              <td>
                <b>Date On</b>
              </td>
              <td *ngIf="match">
                {{match?.startDate | date}}
                
              </td>
            </tr> -->

            <a  class="btn btn-primary" (click)="more()" >more</a>
            <a  class="btn btn-primary" *ngIf="refreeActive" (click)="setSummery()" >Update Details</a>

          </table>
        </div>
      </div>
    </div>
    
  </div>

    <div class="container" *ngIf="!match">
    <div class="text-center">
        <div class="spinner-border text-center" role="status" style="width: 5rem; height: 5rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
  </div>
