  <div class="card" style="width: 40rem; padding-left: 5px;" >
    <div class="row">
      <div class="col-12">
        <div class="profile-body">
       
          <table>
            <tr>
              <td>
                <b>Club 1</b>
              </td>
              <td>
                {{club01.clubName}}
              </td>
            </tr>
    
            <tr>
              <td>
                <b>club02</b>
              </td>
              <td>
                {{club02.clubName}}
              </td>
            </tr>
    
    
            <tr>
              <td>
                <b>tournament Round</b>
              </td>
              <td>
                {{match.tournementRound}}
              </td>
            </tr>
    
    
            <tr>
              <td>
                <b>Stadium</b>
              </td>
              <td>
                {{match.stadiumId.name}}
                <!-- {{manager.userId.}} -->
              </td>
            </tr>
          </table>
          <a  class="btn btn-primary" (click)="more()" >more</a>
        </div>
      </div>
    </div>

    <!-- <div class="row"  >
      <div class="text-center" #loading>
          <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem; align-items: center;">
              <span class="sr-only">Loading...</span>
          </div>
      </div>
    </div> -->

  </div>

